{% extends 'base.html.twig' %}

{% block body %}
    <nav class="fixed w-full bg-white shadow-md px-6 py-4">
        <div class="max-w-7xl mx-auto flex items-center justify-between">
            <div>
                <a href="/" class="text-2xl font-bold text-gray-800 hover:underline" >People</a>
            </div>

            <div class="w-40 flex flex-row justify-between">
                <a href="/add" class="text-gray-600 hover:text-blue-600 hover:font-bold transition text-lg">Add</a>
                <a href="/delete" class="text-gray-600 hover:text-red-600 hover:font-bold transition text-xl">Delete</a>
            </div>
        </div>
    </nav>
    <div class="w-screen h-screen flex items-center justify-center bg-gray-200">
        <div class="w-full max-w-sm bg-gray-800 rounded-2xl p-6 shadow-xl">
            <form method="POST" action="{{ path('add') }}" class="flex flex-col gap-4">
                <label for="name" class="text-sm font-medium text-gray-300">Jméno:</label>
                <input
                    id="name"
                    name="name"
                    type="text"
                    class="w-full h-11 px-4 text-gray-900 rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
                >

                <label for="surname" class="text-sm font-medium text-gray-300">Příjmení:</label>
                <input
                    id="surname"
                    name="surname"
                    type="text"
                    class="w-full h-11 px-4 text-gray-900 rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
                >

                <button
                    type="submit"
                    class="w-full h-11 mt-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg transition"
                >
                    Add
                </button>
            </form>
        </div>
    </div>
{% endblock %}
